*,
.row div{
    overflow: none;
}
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main img:hover {
    transform: scale(1.0);
    transition: all 1.2s;
    cursor: default;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
}
.divide_block {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    overflow: visible;
}

.Subblock {
    flex: 50%;
    flex-wrap: wrap;
    overflow: visible;
}

#Sub_img {
    width: 100%;
    height: 100%;
}

.normal_block {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
}

.normal_block img {
    width: 100%;
    height: 100%;
}


.visit_middle_text {
    text-align: left;
    padding: 10%;
    line-height: 2;
    font-size: 0.88em;
}

.visit_middle_text h1 {
    font-family: GurmukhiMN;
    font-weight: bold;
}

.visit_middle_text p {
    font-family: 'Libre Baskerville';
}

.visit_middle_text h3 {
    font-family: 'Libre Baskerville';
    text-align: center;
}

.visit_upper_text iframe {
    width: 100%;
    height: 350px;
    margin-top: 20px;
}

.visit_upper_text {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    line-height: 2;
    font-size: 1.07em;
}

.visit_upper_text h1 {
    font-family: GurmukhiMN;
    font-weight: bold;
}

.visit_upper_text p {
    font-weight: 300;
}

.pic_in_middle {
    width: 100%;
}


.table_icon {
    width: 28%;
    height: 28%;
    margin-left: auto;
    margin-right: auto;
}

.table_icon img {
    width: 100%;
}

.hiw_text [type=button] {
    border-radius: 25px;
    border: transparent;
    color: #ffffff;
    background-color: #08c9b9;
    width: 45%;
    height: 3.5em;
    margin-top: 20px;
}

.hiw_text {
    text-align: center;
}

.visit_under_text {
    text-align: left;
    padding: 10%;
    line-height: 2;
    font-size: 0.88em;
}

.visit_under_text h1 {
    font-family: GurmukhiMN;
    font-weight: bold;
}

.visit_under_text p {
    font-family: 'Libre Baskerville';
}

.social_icon {
    text-align: center;
    word-spacing: 20px;
}

.social_icon a {
    padding: 20px;
    font-size: 30px;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

#tt {
    background: #00bfff;
    color: white;
}

#fb {
    background: #128BDB;
    color: white;
}

#pin {
    background: #E20000;
    color: white;
}

#insta {
    background: #E20000;
    color: white;
    margin-top: 20px;
}

.contact_icon {
    text-align: center;
}

.contact_icon i {
    font-size: 65px;
    width: 24%;
}

.contact_info {
    display: inline-flex;
    text-align: center;
}

.contact_email {
    padding: 20px;
    margin-right: 80px;
    font-family: 'Libre Baskerville';
    font-size: 14px;
    width: 50%;
}

.contact_default {
    padding: 20px;
    width: 50%;
    font-family: 'Libre Baskerville';
    font-size: 14px;
    word-wrap: break-word;
}


/*Responsive*/


@media screen and (max-width: 960px) {
    .divide_block {
        display: flex;
        flex-wrap: wrap;
        flex: 100%;
        width: 100%;
    }
    .Subblock {
        flex: 100%;
        flex-wrap: wrap;
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .img_frame{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    #Sub_img {
        width: 100%;
        height: 100%;
    }
    .normal_block img {
        width: 100%;
        height: 100%;
        
    }
}



